.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Devanagari:wght@100;200;300;400;500;600;700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  padding: 0%;
  margin: 0%;
}

body {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 100;
  overflow: scroll;
}

.contanir {
  height: 200vh;
  width: 200vh;
  /* background-color: aquamarine; */
  overflow: hidden;
}

.mainContanir {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.header {
  background-color: #ff671f;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#headerheading {
  font-family: "IBM Plex Sans Devanagari", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: white;
  line-height: auto;
  font-size: medium;
}

#hanumanImage {
  height: 140px;
  width: 140px;
  padding: 5px;
}

.middleContanir {
  display: flex;
}

.middleContanir .tagsContanir,
.imageContanir {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.rightContanir {
  margin-left: auto;
  width: 100%;
}

.tagsContanir {
  height: 38px;
  background-color: #f3b475;
  border-bottom-left-radius: 50px;
}

.rightContanir .tagsContanir .atag {
  margin-right: 3%;
  color: black;
  text-decoration: none;
  font-weight: 500;
  padding: 5px;
  font-size: medium;
  font-weight: 500;
  font-style: normal;
}




.carousel {
  width: 81%;
  overflow: hidden;
  display: flex;
  top: 7px;
  margin-left: auto;
  justify-content: center;
  position: relative;
  /* border: 2px solid black; */
  border-radius: 30px;
}

.ca {
  display: flex;
  width: calc(173px * 7); 
  animation: scroll 30s linear infinite; 
}

.ca img {
  width: 173px;
  height: 95px;
  margin-right: 20px; 
  border-radius: 10px;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

#p {
  font-family: "IBM Plex Sans Devanagari", sans-serif;
  position: absolute;
  font-weight: normal;
  line-height: auto;
  left: 280px;
  color: black;
  top: 99px;
  height: 60px;
  width: 130px;
  font-weight: bold;
  font-size: 21px;
  text-align: left;
  /* border: 2px solid black; */
}

.pottarImg {
  height: 100%;
  width: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 1;
  position: absolute;
  top: 188px;
  left: 0;
  display: block;
}

.red-layer {
  height: auto;
  width: 100%;
  position: absolute;
  top: 188px;
  left: -1;
  z-index: 2;
}

.paragraph {
  font-family: "Nunito Sans", sans-serif;
  position: absolute;
  left: 80px;
  top: 265px;
  z-index: 3;
  color: white;
  width: 788px; /* Same width */
  height: 346.67px; /* Same height */
  font-weight: 900;
  letter-spacing: 0;
  font-size: small;
  /* border: 2px solid black; */
  margin-right: 5%;
  box-sizing: border-box;
}

.pImg {
  z-index: 3;
  /* border: 2px solid black; */
  position: absolute;
  border-radius: 10px;
  width: 500px;
  height: 310.67px;
  object-fit: cover;
  right: 80px;
  top: 250px;
}

.footer {
  height: 100vh;
  width: 100vw;
  /* border: 2px solid brown; */
  overflow: visible;
  /* background-color: lightgray; */
}

#holyImg {
  /* border: 2px solid black; */
  position: absolute;
  border-radius: 10px;
  object-fit: cover;
  border-radius: 10px;
  width: 500px;
  height: 310.67px;
  object-fit: cover;
  top: 970px;
  left: 80px;
}

.foot {
  font-family: "Nunito Sans", sans-serif;
  position: absolute;
  box-sizing: border-box;
  right: 80px;
  top: 970px;
  color: #f97300;
  height: 346.67px;
  width: 740px;
  height: 346.67px;
  font-weight: bold;
  font-size: 33px;
  margin-left: 5%;
  /* border: 2px solid blue; */
  letter-spacing: 1.3px;
}


#pattImg{
  opacity: 0.3;
}




